
/* HSL Main Color Scheme*/
$primary-color: hsla(166%, 16%, 26%, 1);
$secondary-color: hsla(165%, 2%, 44%, 1);
$complimentary-color: hsla(62%, 13%, 63%, 1);
$background-color:  hsla(345%, 5%, 84%, 1);
$off-color:  hsla(0%, 0%, 89%, 1);

/* Color definement */
$mainred: #E51621;
$maingreen: hsla(166%, 16%, 26%, 1);
$mainblue: #247BA0;
