/* Mixin for Centering*/
/* HSL Main Color Scheme*/
/* Color definement */
/* Breakpoints*/
.card img {
  width: 100%;
  height: auto;
  display: block; }

nav {
  position: absolute; }
  @media (min-width: 62em) {
    nav {
      position: static; } }
  @media (min-width: 75em) {
    nav {
      position: static; } }

#mainNavButton {
  display: none; }
  #mainNavButton:checked + .menu i {
    transform: rotate(-90deg);
    text-shadow: 1px 1px 4px black;
    margin-left: 6em; }
  #mainNavButton:checked ~ nav {
    transform: translateX(0%); }

.menu {
  cursor: pointer; }
  .menu i {
    color: #beb8b8;
    font-size: 40px;
    transform: rotate(90deg);
    transition: all 0.3s;
    text-align: center;
    text-shadow: 1px 1px 4px black; }
  @media (min-width: 62em) {
    .menu {
      display: none; } }

nav {
  background-color: #384d48;
  max-width: 100%;
  width: 300px;
  transform: translateX(-90%);
  transition: all 0.3s;
  margin-top: 0px; }
  nav a {
    color: white; }
  nav img {
    max-width: 50%;
    height: auto; }
  nav ul {
    display: block;
    color: white;
    z-index: 999; }
  nav ul.megamenu {
    display: block;
    width: auto; }
  nav > ul li a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  nav .search-box > form {
    margin-bottom: 20px; }
  nav li.submenu > a, nav li.submenu2 > a {
    font-size: 30px; }
  @media (min-width: 62em) {
    nav {
      width: 100%;
      background: #384d48;
      font-size: 16px;
      box-shadow: 0 0 10px black;
      transform: translateX(0%); }
      nav img {
        max-width: 100%;
        display: block; }
      nav #mainNavButton, nav .menu {
        display: none; }
      nav .flex-form {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      nav ul.megamenu {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        top: -9999px;
        left: 0;
        padding: 40px 40px 0 40px;
        background: #fff;
        text-align: left;
        border-top: 2px solid #4096ee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        z-index: 999; }
        nav ul.megamenu h4 {
          margin-bottom: 15px;
          text-transform: uppercase; }
      nav ul {
        width: 20%;
        margin-bottom: 40px;
        color: #000;
        box-shadow: none; }
        nav ul li {
          display: block; }
          nav ul li a {
            margin-top: 10px;
            transition: 0.5s;
            color: #000; }
          nav ul li a:hover {
            color: #fcfafa; }
      nav > ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 1000px;
        margin: 0 auto;
        padding: 0; }
        nav > ul > li {
          text-align: center; }
          nav > ul > li > a {
            padding: 15px 25px;
            color: white; }
          nav > ul > li:hover {
            background: rgba(128, 128, 128, 0.384);
            border-radius: 30px; }
      nav a {
        display: block;
        color: #fff;
        text-decoration: none; }
      nav ul li:hover ul.megamenu {
        top: 100%; }
      nav ul li {
        color: #fff;
        list-style: none;
        transition: 0.5s; }
      nav ul > li.submenu > a:after {
        position: absolute;
        content: '';
        margin-left: 10px;
        margin-top: 8px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent; }
      nav ul > li.submenu:hover > a:after {
        margin-top: 2px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid #fff; } }

/* Slideshow container */
.featured {
  display: none;
  margin-top: 60px; }
  @media (min-width: 48em) {
    .featured {
      display: block; } }
  @media (min-width: 62em) {
    .featured {
      display: block; } }
  @media (min-width: 75em) {
    .featured {
      display: block; } }

.slideshow-container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto; }

.mySlides {
  display: none;
  grid-column: 1/3; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 16px;
  color: #0a0000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  margin-left: 450px; }

/* Position the "next button" to the right */
.next {
  text-align: right;
  justify-content: flex-end;
  margin-left: 0px; }

/* Caption text */
.text {
  color: #030303;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  display: none; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.bg-coral {
  background-color: #F45D4C; }
  .bg-coral:before {
    content: "$color-coral"; }
  .bg-coral:after {
    content: "#F45D4C"; }

.coral {
  color: #F45D4C; }
  .coral:after {
    content: " $color-coral";
    display: inline; }

.bg-orange {
  background-color: #F7A541; }
  .bg-orange:before {
    content: "$color-orange"; }
  .bg-orange:after {
    content: "#F7A541"; }

.orange {
  color: #F7A541; }
  .orange:after {
    content: " $color-orange";
    display: inline; }

.bg-yellow {
  background-color: #FACA66; }
  .bg-yellow:before {
    content: "$color-yellow"; }
  .bg-yellow:after {
    content: "#FACA66"; }

.yellow {
  color: #FACA66; }
  .yellow:after {
    content: " $color-yellow";
    display: inline; }

.bg-green {
  background-color: #A1DBB2; }
  .bg-green:before {
    content: "$color-green"; }
  .bg-green:after {
    content: "#A1DBB2"; }

.green {
  color: #A1DBB2; }
  .green:after {
    content: " $color-green";
    display: inline; }

.bg-teal {
  background-color: #60B99A; }
  .bg-teal:before {
    content: "$color-teal"; }
  .bg-teal:after {
    content: "#60B99A"; }

.teal {
  color: #60B99A; }
  .teal:after {
    content: " $color-teal";
    display: inline; }

.bg-blue {
  background-color: #54787D; }
  .bg-blue:before {
    content: "$color-blue"; }
  .bg-blue:after {
    content: "#54787D"; }

.blue {
  color: #54787D; }
  .blue:after {
    content: " $color-blue";
    display: inline; }

.bg-purple {
  background-color: #5B527F; }
  .bg-purple:before {
    content: "$color-purple"; }
  .bg-purple:after {
    content: "#5B527F"; }

.purple {
  color: #5B527F; }
  .purple:after {
    content: " $color-purple";
    display: inline; }

.bg-gray {
  background-color: #555555; }
  .bg-gray:before {
    content: "$color-gray"; }
  .bg-gray:after {
    content: "#555555"; }

.gray {
  color: #555555; }
  .gray:after {
    content: " $color-gray";
    display: inline; }

.bg-black {
  background-color: #000000; }
  .bg-black:before {
    content: "$color-black"; }
  .bg-black:after {
    content: "#000000"; }

.black {
  color: #000000; }
  .black:after {
    content: " $color-black";
    display: inline; }

.color-cards {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: #333;
  margin: 0 auto; }

.colors {
  display: flex;
  margin: 3rem auto;
  overflow: hidden;
  text-align: center;
  align-items: center; }
  @media (min-width: 30em) {
    .colors {
      flex-direction: column; } }
  @media (min-width: 62em) {
    .colors {
      flex-direction: row; } }

.colors div[class^='bg'],
.colors div[class*=' bg'] {
  height: 200px;
  position: relative;
  width: 100%; }
  @media (min-width: 48em) {
    .colors div[class^='bg'],
    .colors div[class*=' bg'] {
      width: 33.33%; } }
  @media (min-width: 62em) {
    .colors div[class^='bg'],
    .colors div[class*=' bg'] {
      width: 11.11%; } }
  .colors div[class^='bg']:before, .colors div[class^='bg']:after,
  .colors div[class*=' bg']:before,
  .colors div[class*=' bg']:after {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    line-height: 1.75;
    position: absolute;
    width: 100%; }
  .colors div[class^='bg']:before,
  .colors div[class*=' bg']:before {
    bottom: 28px; }
  .colors div[class^='bg']:after,
  .colors div[class*=' bg']:after {
    bottom: 0; }

.card {
  display: grid;
  grid-template-rows: 1fr; }

.card .caption {
  grid-row: 1; }

.card-item {
  padding-bottom: 0px; }

/* Two Column tablet layout */
@media screen and (min-width: 27em) {
  /* Styling for the grid-cards. Implementing grid on them */
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 0; }
  .card-item {
    margin-top: 5px;
    padding-bottom: 0; } }

@media screen and (min-width: 60em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense; }
  .card-item {
    filter: saturate(0%); }
  .card-item:hover {
    filter: saturate(100%); }
  .card-item:hover h3 {
    color: orange; }
  .card h3 {
    font-size: 16px;
    text-align: center; }
  .card {
    margin: 2px; }
  .card-item:nth-of-type(1) {
    grid-column: 1/3; }
  .card-item:nth-of-type(3) {
    grid-column: 4/6;
    grid-row: 3/4; }
  .card-item:nth-of-type(4) {
    grid-column: 1/4;
    grid-row: 2/4; }
  .card-item:nth-of-type(5) {
    grid-column: 3/6;
    grid-row: 1/2; }
  .card-item:nth-of-type(7) {
    grid-row: 4/5;
    grid-column: 4/6; }
  .card-item:nth-of-type(8) {
    grid-row: 4/5;
    grid-column: 1/4; }
  .card-item:nth-of-type(9) {
    grid-column: 1/6;
    grid-row: 5/6; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #dbe6d8; }

a {
  text-decoration: none; }

li {
  list-style: none; }
