/* Mixin for Centering*/
/* HSL Main Color Scheme*/
/* Color definement */
/* Breakpoints*/
#mainNavButton {
  display: none; }
  #mainNavButton:checked + .menu i {
    transform: rotate(-90deg);
    text-shadow: 1px 1px 4px black;
    margin-left: 6em; }
  #mainNavButton:checked ~ nav {
    transform: translateX(0%); }

.menu {
  margin: 0;
  cursor: pointer; }
  .menu i {
    border-radius: 25px;
    color: #beb8b8;
    font-size: 40px;
    transform: rotate(90deg);
    transition: all 0.3s;
    text-align: center;
    text-shadow: 1px 1px 4px black; }
  @media (min-width: 62em) {
    .menu {
      display: none; } }

nav {
  background-color: #384d48;
  max-width: 100%;
  width: 300px;
  transform: translateX(-90%);
  transition: all 0.3s;
  margin-top: -20px; }
  nav a {
    color: white; }
  nav img {
    max-width: 50%;
    height: auto; }
  nav ul {
    display: block;
    color: white; }
  nav ul.megamenu {
    display: block;
    width: auto; }
  nav > ul li a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  nav .search-box > form {
    margin-bottom: 20px; }
  nav li.submenu > a, nav li.submenu2 > a {
    font-size: 30px; }
  @media (min-width: 62em) {
    nav {
      position: absolute;
      width: 100%;
      background: #384d48;
      font-size: 16px;
      box-shadow: 0 0 10px black;
      transform: translateX(0%); }
      nav img {
        max-width: 100%;
        display: block; }
      nav #mainNavButton, nav .menu {
        display: none; }
      nav .flex-form {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      nav ul.megamenu {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        top: -9999px;
        left: 0;
        padding: 40px 40px 0 40px;
        background: #fff;
        text-align: left;
        border-top: 2px solid #4096ee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        z-index: 1; }
        nav ul.megamenu h4 {
          margin-bottom: 15px;
          text-transform: uppercase; }
      nav ul {
        width: 20%;
        margin-bottom: 40px;
        color: #000;
        box-shadow: none; }
        nav ul li {
          display: block; }
          nav ul li a {
            margin-top: 10px;
            transition: 0.5s;
            color: #000; }
          nav ul li a:hover {
            color: white; }
      nav > ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 1000px;
        margin: 0 auto;
        padding: 0; }
        nav > ul > li {
          text-align: center; }
          nav > ul > li > a {
            padding: 15px 25px;
            color: white; }
          nav > ul > li:hover {
            background: rgba(128, 128, 128, 0.384);
            border-radius: 30px; }
      nav a {
        display: block;
        color: #fff;
        text-decoration: none; }
      nav ul li:hover ul.megamenu {
        top: 100%; }
      nav ul li {
        color: #fff;
        list-style: none;
        transition: 0.5s; }
      nav ul > li.submenu > a:after {
        position: absolute;
        content: '';
        margin-left: 10px;
        margin-top: 8px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent; }
      nav ul > li.submenu:hover > a:after {
        margin-top: 2px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid #fff; } }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }
