// Global styling 

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    @include page-bg('https://newevolutiondesigns.com/images/freebies/fantasy-wallpaper-33.jpg');
}
a {
text-decoration: none;
}

li {
list-style: none;
}